Prueba/Service References/WSLoad/DB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameter" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="values" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="table" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ADDAfiliado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DPI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaNac" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MontoCob" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoPoliza" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ADDAfiliadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="DELAfiliado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DPI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELAfiliadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="Actualiza_Afiliado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DPI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaNac" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="InicioCob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FinCobertura" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MontoCob" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoPoliza" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualiza_AfiliadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NIT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dirreccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Encargado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProveedorResponse">
        <s:complexType />
      </s:element>
      <s:element name="DelProveddor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NIT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelProveddorResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NIT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dirreccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Encargado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModProveedorResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddTran">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DPI" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="FinCobertura" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTranResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAfililiado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NIT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DPI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechNac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechCob" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAfililiadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAfililiadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoadDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadData" />
  </wsdl:message>
  <wsdl:message name="LoadDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadDataResponse" />
  </wsdl:message>
  <wsdl:message name="ADDAfiliadoSoapIn">
    <wsdl:part name="parameters" element="tns:ADDAfiliado" />
  </wsdl:message>
  <wsdl:message name="ADDAfiliadoSoapOut">
    <wsdl:part name="parameters" element="tns:ADDAfiliadoResponse" />
  </wsdl:message>
  <wsdl:message name="DELAfiliadoSoapIn">
    <wsdl:part name="parameters" element="tns:DELAfiliado" />
  </wsdl:message>
  <wsdl:message name="DELAfiliadoSoapOut">
    <wsdl:part name="parameters" element="tns:DELAfiliadoResponse" />
  </wsdl:message>
  <wsdl:message name="Actualiza_AfiliadoSoapIn">
    <wsdl:part name="parameters" element="tns:Actualiza_Afiliado" />
  </wsdl:message>
  <wsdl:message name="Actualiza_AfiliadoSoapOut">
    <wsdl:part name="parameters" element="tns:Actualiza_AfiliadoResponse" />
  </wsdl:message>
  <wsdl:message name="AddProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:AddProveedor" />
  </wsdl:message>
  <wsdl:message name="AddProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:AddProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="DelProveddorSoapIn">
    <wsdl:part name="parameters" element="tns:DelProveddor" />
  </wsdl:message>
  <wsdl:message name="DelProveddorSoapOut">
    <wsdl:part name="parameters" element="tns:DelProveddorResponse" />
  </wsdl:message>
  <wsdl:message name="ModProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:ModProveedor" />
  </wsdl:message>
  <wsdl:message name="ModProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:ModProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="AddTranSoapIn">
    <wsdl:part name="parameters" element="tns:AddTran" />
  </wsdl:message>
  <wsdl:message name="AddTranSoapOut">
    <wsdl:part name="parameters" element="tns:AddTranResponse" />
  </wsdl:message>
  <wsdl:message name="GetAfililiadoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAfililiado" />
  </wsdl:message>
  <wsdl:message name="GetAfililiadoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAfililiadoResponse" />
  </wsdl:message>
  <wsdl:portType name="DBSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <wsdl:input message="tns:LoadDataSoapIn" />
      <wsdl:output message="tns:LoadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ADDAfiliado">
      <wsdl:input message="tns:ADDAfiliadoSoapIn" />
      <wsdl:output message="tns:ADDAfiliadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELAfiliado">
      <wsdl:input message="tns:DELAfiliadoSoapIn" />
      <wsdl:output message="tns:DELAfiliadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualiza_Afiliado">
      <wsdl:input message="tns:Actualiza_AfiliadoSoapIn" />
      <wsdl:output message="tns:Actualiza_AfiliadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProveedor">
      <wsdl:input message="tns:AddProveedorSoapIn" />
      <wsdl:output message="tns:AddProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelProveddor">
      <wsdl:input message="tns:DelProveddorSoapIn" />
      <wsdl:output message="tns:DelProveddorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModProveedor">
      <wsdl:input message="tns:ModProveedorSoapIn" />
      <wsdl:output message="tns:ModProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTran">
      <wsdl:input message="tns:AddTranSoapIn" />
      <wsdl:output message="tns:AddTranSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAfililiado">
      <wsdl:input message="tns:GetAfililiadoSoapIn" />
      <wsdl:output message="tns:GetAfililiadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBSoap" type="tns:DBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <soap:operation soapAction="http://tempuri.org/LoadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ADDAfiliado">
      <soap:operation soapAction="http://tempuri.org/ADDAfiliado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELAfiliado">
      <soap:operation soapAction="http://tempuri.org/DELAfiliado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualiza_Afiliado">
      <soap:operation soapAction="http://tempuri.org/Actualiza_Afiliado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProveedor">
      <soap:operation soapAction="http://tempuri.org/AddProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelProveddor">
      <soap:operation soapAction="http://tempuri.org/DelProveddor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModProveedor">
      <soap:operation soapAction="http://tempuri.org/ModProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTran">
      <soap:operation soapAction="http://tempuri.org/AddTran" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAfililiado">
      <soap:operation soapAction="http://tempuri.org/GetAfililiado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DBSoap12" type="tns:DBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <soap12:operation soapAction="http://tempuri.org/LoadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ADDAfiliado">
      <soap12:operation soapAction="http://tempuri.org/ADDAfiliado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELAfiliado">
      <soap12:operation soapAction="http://tempuri.org/DELAfiliado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualiza_Afiliado">
      <soap12:operation soapAction="http://tempuri.org/Actualiza_Afiliado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProveedor">
      <soap12:operation soapAction="http://tempuri.org/AddProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelProveddor">
      <soap12:operation soapAction="http://tempuri.org/DelProveddor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModProveedor">
      <soap12:operation soapAction="http://tempuri.org/ModProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTran">
      <soap12:operation soapAction="http://tempuri.org/AddTran" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAfililiado">
      <soap12:operation soapAction="http://tempuri.org/GetAfililiado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DB">
    <wsdl:port name="DBSoap" binding="tns:DBSoap">
      <soap:address location="http://localhost:8882/DB.asmx" />
    </wsdl:port>
    <wsdl:port name="DBSoap12" binding="tns:DBSoap12">
      <soap12:address location="http://localhost:8882/DB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>